/* adapted from https://raw.githubusercontent.com/Ibaslogic/nextjs-mdx-blog-starter/main/styles/Blog.module.css */

.post {
  list-style: none;
  margin-bottom: 2rem;
}

.post article {
  padding: 20px;
  border: 1px solid;
  border-radius: 5px;
}

.post:last-child {
  margin-bottom: 0;
}

.post h2 {
  font-size: 1.5em;
  margin-bottom: 0.5rem;
  line-height: 1.4;
  font-weight: 600;
}

.link  {
  text-decoration: none;
  color: inherit;
}

.metadata {
  font-size: 14px;
  line-height: 1.65;
  display: block;
  margin-bottom: 0.5rem;
}

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}

.title {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: var(--font-header-bold);
}
